.footer-link {
  transition: 350ms;
  text-decoration: none;
  color: black;
  padding: 1rem;

  &:hover {
    transition: 350ms;
    transform: scale(1.05) translateY(-5px);
    color: grey;
  }
}

.footer-nav-container {
  width: 95%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2%;
  align-self: center;
}

#blockColorblindContent {
  display: none;
}
